// Full API Docs

.api-ref {
  position: relative;
}

.api-ref-nav {
  background-color: @trello-blue-50;
  box-sizing: border-box;
  font-size: .8em;
	height: 100%;
	overflow-y: scroll;
	padding: 0 1em;
  position: fixed;
	width: 400px;
  word-wrap: break-word;

  ul {
    margin: 0 0 0 1em;
  	padding: 0;
  }

  ul li {
  	padding: 0;
  	font-weight: bold;
  	margin-top: 1em;
  }

  ul li li {
  	font-weight: normal;
  	margin-top: 0;
  }

  a {
  	text-decoration: none;
  }

}

.api-ref-main {
  box-sizing: border-box;
  font-size: .8em;
	height: 100%;
	margin-left: 400px;
	overflow-y: scroll;
	padding: 0 1em;
  position: fixed;
  width: 100%;
  word-wrap: break-word;
}
