// App Header

.app-header {
  background-color: @green-600;
  color: #fff;
  padding: 1em;
  display:flex;
  justify-content:start;
  align-items:center;
}

  .app-header-title {
    display: none;
    margin-bottom: 0;
  }

  .app-header-image {
    max-height: 50px;
  }

  .app-header-tag {
    margin-top: .7em;
  }
