// App Content

.app-content {
  margin: 0 auto;
  padding: 1em;
  max-width: 700px;
  position:relative; 
}

  .app-content h4 {
    margin-bottom: 0;
  }

  .app-content span.code,
  .app-content .code li {
    font-family:monospace;
    font-style: italic;
  }


// Modifiers

.app-content.mod-full {
  padding: 0 1em;
  max-width: 1400px;
}
