<div class="app-content">

	<h2>Getting Started with Python - Part 2</h2>
	<review-bar></review-bar>
	<h3>Review</h3>
	<p>Now we are able to use Python to connect to the Trello API. We are beginning to understand the JSON that we get back, and how to add parameters to modify a query.</p>
	<h3>Logical Flow</h3>
	<p>A program is an ordered list of instructions that your computer can execute. A program with no user input or external data would do the exact same thing every time. Instead of doing this, we want to act on the data that is coming back. In order to do this, we'll need a couple of commands to help us control the flow of our application.</p>
	<p>The first and most important of these is the <strong>if</strong> statement. This statement let's us fork our behavior based on whether or not something is true. This could be as simple as whether or not there were any boards matching our query, or as complex as comparing the contents of one card to another.</p>
	<p>The second most important statement is a <strong>for</strong> statement. <strong>for</strong> let's us iterate through a list of things.</p>
	
	<h3>Counting the cards on a board</h3>
	<p>Let's imagine for a moment that we want to print a list of the boards of a member, and with each board, show how many cards are on it.</p>
	<p>To do this, let's first look for an API call that will get us all of the cards and the boards of a member. Fortunately we can find this API call by looking at the <strong>Boards</strong> of a <strong>Member</strong> using <a href="#/advanced-reference/member#get-1-members-idmember-or-username-boards"><strong>GET /1/members/[idMember or username]/boards</strong></a>. Unfortunately if we look at the arguments this method allows, there is no option to make it give us all of the cards of these boards. To do this, we will need to make another query to the API for each board to get its cards.</p>

	<h3>Getting the boards</h3>
	<p>To make sure we have a common starting ground, make sure your python program looks like this, and update the fields so that we are only returning the name and ID of the users boards:</p>
	<pre>import trolly
import json
import pprint

client = trolly.client.Client('APP KEY', 'TOKEN')

data = client.fetch_json("/member/me/boards", 'GET', {'fields':'name'})

printer = pprint.PrettyPrinter(indent=4)
printer.pprint(data)
</pre>
	<p>Now we need to iterate through these boards in our returned object. We'll do this with the following for statement:</p>
	<pre>for board in data:
	print "Board '%s' has ID %s." % (board['name'], board['id'])</pre>
	<p>The indent on the second line is extremely important. Python does not use curly brackets to indicate blocks of code, it uses the indentation. This means that if you don't indent, Python doesn't know what code you want to run for each board it finds. You can indent with spaces or tabs, as long as you are consistent within your program.</p>

	<h3>Going Deeper</h3>
	<p>We are now going to extend the code we run within the <strong>for</strong> block in order to lookup the cards on each board.</p>
	<pre>for board in data:
	print "Board '%s' has ID %s." % (board['name'], board['id'])
	cardData = client.fetch_json("/boards/%s/cards" % (board['id']))
	print "This cardData list has %s items." % (len(cardData))
	print "That means, this board has %s cards." % (len(cardData))</pre>

	<p>Finally, let's clean this up to make it look nicer. We also limit the fields we get back for each card to reduce extra load on the server and our program.</p>
	<pre>for board in data:
	cardData = client.fetch_json("/boards/%s/cards" % (board['id']), 'GET', {'fields':'none'})
	print "Board '%s' has %s cards." % (board['name'], len(cardData))</pre>


	<h3>Making it more efficient</h3>
	<p>Right now we are making a network request for every board that a user has. This will often be slow and will put extra load on Trello's servers. In order to be a nicer Trello Developer, we want to batch these requests so that we make a single call to get all of the card data we are looking for.</p>
	<p>We will do this in two steps. First, we'll use our original <strong>for</strong> loop to construct a batch request. Second, we'll make that second request outside the context of our original <strong>for</strong> loop so that it only runs once.</p>
	<p>To do this, we will convert our card API calls into <strong>batch</strong> requests.</p>
	<p>Unfortunately, we can't use comma seperated URLs with a parameter because Trolly does not encode the <strong>?</strong>s correctly. We also run into issues with batches of more than 20, so we have to split up our requests, and then write the count data back to our board data object at the correct index.</p>
	<pre>data = client.fetch_json("/member/me/boards", 'GET', {'fields':'name'})

urls = {}
count = 0
for board in data:
	urls["urls[%s]" % (count % 20)] = "/boards/%s/cards?fields=" % (board['id'])
	count += 1
	if len(urls) == 20 or count >= len(data):
		#print "Processing batch of %s for board of %s. Count is at %s." % (len(urls), len(data), count)
		urlCount = len(urls)
		cardData = client.fetch_json("/batch", 'GET', urls)
		for index, response in enumerate(cardData):
			#print "The # of cards for board %s is %s." % (index+count-urlCount, len(response['200']))

			#print "We calculate the index with %s + %s - %s" % (index, count, urlCount)
			data[index+count-urlCount]['cardCount'] = len(response['200'])
			
		urls = {}

for board in data:
	print "Board '%s' has %s cards." % (board['name'], board['cardCount'])</pre>




	<h3>Other Tips</h3>
	<p>Keep in mind there are a lot of ways at getting at data via the API. We could have started with a member's cards, which would also have contained board IDs, which we then could have used to lookup the board names. Think about what the data you are trying to get at is, and how you want to process it before looking for specific API calls and parameters.</p>




</div>