<div class="app-content">

	<h2>Getting Started with Python</h2>
	<review-bar></review-bar>

	<h3>Purpose</h3>
	<p>The purpose of this tutorial is to introduce you to one of the many ways you can interact with the Trello API and begin processing results.

	<h3>Prerequisites</h3>
	<p>This tutorial assumes that you have Python installed and that you know how to run a Python script of your own creation. This tutorial also assume you can use the command line and git.</p>

	<h3>Goals</h3>
	<p>By the conclusion of this tutorial, you should be able to:</p>
	<ul>
		<li>Make a call to the Trello API</li>
		<li>Pretty print some JSON</li>
		<li>Count the cards on a board</li>
		<li>Add the string "Confidential" to card titles</li>
	</ul>

	<h3>Make a Fresh Folder</h3>
	<p>Make a fresh folder on your computer in whatever folder you want to use as a workspace. You should open a terminal to this folder as well, as we will assume you are running all commands "in" this folder unless otherwise stated.</p>

	<h3>Download Trolly</h3>
	<p>There are lots of ways of accessing the Trello API. We'll use a Python library called Trolly to help us with our HTTP calls.</p>
	<pre>git clone https://github.com/plish/Trolly.git</pre>
	<p>We'll follow the steps from Trolly's <a href="https://github.com/plish/Trolly">github page</a>. Start by making sure you have httplib2 installed on your system and your <a href="https://trello.com/app-key">API key</a> somewhere easily accessible.</p>
	<pre>cd Trolly && sudo python setup.py install && cd ../</pre>
	<pre>python Trolly/trolly/authorise.py -a KEY 'PythonTutorial' 1day</pre>
	<p>This will give you a URL which you will have to put into a web browser. Once you authorize your application, you will get back a token.</p>
	<p>The token that Trello gives you uniquely identifies your application and the holder of the token is allowed to perform actions AS the user who authorized it.</p>
	<p>We've just finished two steps, Authentication, and Authorization. These two terms are often confused. Authentication refers to the process by which Trello figures out WHO you are. Trello takes care of this for developers, and in general there's nothing for you to do. The second step, Authorization, refers to the prompt that Trello shows to the user to make sure that the application is ALLOWED to access your data.</p>
	<p>Trolly has lots of features and what are called helper objects, but we'll be ignoring them so that you can learn how the <em>pure</em> API works.</p>


	<h3>Make a New Python File - card-count.py</h3>
	<p>This is the file we will use to count the cards on a given board. We'll be setting up Trolly with our KEY and Token as follows:</p>
	<pre>import trolly
import json
import pprint

client = trolly.client.Client(settings.API_KEY, settings.TOKEN)</pre>
	<p>Now using the client variable, we can make any sort of pure RESTful call we want to with the following method that is provided to us:</p>
	<pre>fetch_json(uri_path, http_method='GET', query_params=None, body=None, headers=None)</pre>
	<p>You may note that there's an = in the last 4 parametesr, these mean that these are optional. If you don't supply these when making a call, they will default to the stated default.</p>

	<h3>Get Authenticated Users' Boards</h3>
	<pre>print client.fetch_json("/member/me/boards")</pre>
	<p>OMG! What is all of this stuff! This is raw unformatted JSON. To do something useful with it, let's update our code to iterate through it and then print it nicely. To use this we'll use <strong>pprint</strong>.</p>
	<pre>data = client.fetch_json("/member/me/boards")

printer = pprint.PrettyPrinter(indent=4)
printer.pprint(data)</pre>
	<p>What we have done here is now we have saved the full response from our API request in the variable <strong>data</strong>. We then use a Pretty Printing library called <strong>pprint</strong> and set it to and indent of 4 spaces, and the print the JSON to the screen.</p>
	<p>JSON may be confusing at first, but it's based on very simple concepts that build up recursively. After getting some experience with it, you will be reading and writing JSON by hand without troubles.</p>

	<h3>Add a Parameter</h3>
	<pre>data = client.fetch_json("/member/me/boards", "GET", {'filter':"starred"})</pre>


</div>