<div class="app-content">

	<h2>Getting Started with Python - Part 3</h2>
	<review-bar></review-bar>

<pre>
import trolly
import json
import pprint

client = trolly.client.Client('KEY', 'TOKEN')

boards = client.fetch_json("/member/me/boards", 'GET', {'fields':'name'})

for index,board in enumerate(boards):
	print "Board %s: %s" % (index+1, board['name'])

print "Select a board by its number:"
n = int(raw_input())

n -= 1

print
print "Are you sure you want to CONFIDENTIAL all of the cards on %s?" % (boards[n]['name'])
print "This cannot be undone."
print "Type 'YES' to continue."

approval = str(raw_input())
if approval == "YES":
	print "PROCESSING"
	cards = client.fetch_json("/boards/%s/cards" % (boards[n]['id']), 'GET', {'fields':'name'})
	for card in cards:
		if not card['name'].startswith('CONFIDENTIAL: '):
			# We only confidential cards that are not already confidential
			result = client.fetch_json("/cards/%s" % (card['id']), 'PUT', {'name':'CONFIDENTIAL: %s' % (card['name'])})
			print result


else:
	print "not processing"</pre>

</div>