<div class="app-content">
<h2>Power-Ups Architecture</h2>
<p>Fundamentally, Power-Ups are run client-side within the Trello experience. Power-Ups are registered within the Trello server, which makes them available to users. Each time a member looks at the list of available Power-Ups, we reload the manifest of your Power-Up and render this information to the member.</p>
<p>Once a user has chosen to add a Power-Up to a board, the Power-Up’s functionality is loaded via an iFrame. The Trello client posts messages to your Power-Up’s iFrame and expects any declared capabilities to be handled in a reasonable timeframe.</p>
<p>With each message that we post to your Power-Up, we will also give you access to a Trello object that allows you to interact with member content, and limited data storage.</p>
<p>The current Power-Ups architecture makes extensive use of callbacks and promises because the core Trello web architecture is heavily asynchronous, taking advantage of both asynchronous XHR requests and web sockets. You will most often be defining methods that Trello will invoke at appropriate times, and you will need to supply and handle promises that are provided to you.</p>
<p>All hosted assets must be hosted over HTTPS.</p>
</div>