<div class="app-content">
<h2>Power-Up Capabilities</h2>
<p>There are currently 10 capabilities. Capabilities represent areas of the UX that you can hook into. For each capability you state that you support, the web application will make a request to your Power-Up for UX and functionality to be rendered within Trello, at the time when that UX item would normally be rendered.</p>


	<ol>
	<li><strong><a href="#board-buttons">board-buttons</a></strong>
	<ul>
	<li>Add a single button to a Board at the top of the screen</li>
	</ul>
	</li>

	<li><strong><a href="#card-badges">card-badges</a></strong>
	<ul>
	<li>Allows you to add a badges to the front of cards</li>
	<li>Called when opening a Board</li>
	<li>Card badges are also refreshed on an interval that you specify to keep the UI fresh</li>
	</ul></li>


	<li><strong><a href="#card-detail-badges">card-detail-badges</a></strong>
	<ul>
	<li>Allows you to add badges on the back of cards</li>
	<li>Rendered when on the back of the card</li>
	</ul></li>

	<li><strong><a href="#attachment-sections">attachment-sections</a></strong>
	<ul>
	<li>Allows you to add sections to back of a card, each containing an iframe</li>
	<li>Called when opening a card</li>
	<li>You will need to iterate through a list of Card attachments stored in options.entries</li>
	<li>Return list of URLs that you are claiming</li>
	</ul></li>

	<li><strong><a href="#attachment-thumbnail">attachment-thumbnail</a></strong>
	<ul>
	<li>Allows you to improve the attachment preview on the back of a card, for when you don't need a whole iframe</li>
	<li>Called when opening viewing the back of a card</li>
	<li>Specify the link, the text shown for “opening” the attachment, and the thumbnail</li>
	</ul></li>

	<li><strong><a href="#card-buttons">card-buttons</a></strong>
	<ul>
	<li>Rendered when on the back of the card</li>
	<li>Return list of buttons { icon, text, callback -> method}</li>
	</ul></li>

	<li><strong><a href="#format-url">format-url</a> </strong>
	<ul>
	<li>Allows you to modify the rendering of activity on the sidebar, and any time we would display a URL</li>
	<li>Rendered in the sidebar, in markdown, and anywhere else URLs are shown</li>
	<li>Make URLs nicer</li>
	<li>Return an update icon and text</li>
	</ul></li>

	<li><strong><a href="#card-from-url">card-from-url</a></strong>
	<ul>
	<li>Use information that you know (via authentication or algorithmically), to handle drag and dropped URLs</li>
	<li>Set the name and description of the card based on the URL being dropped</li>
	</ul></li>

	<li><strong><a href="#show-settings">show-settings</a></strong>
	<ul>
	<li>If you want a gear icon in the menu bar for configuring your Power-Up</li>
	<li>If you are setting Board-level attributes such as which GitHub repository is on a Board</li>
	</ul></li>
	<hr/>

	<!-- Capability Details -->

	<h3>Buttons (<span id="board-buttons">board-buttons</span> &amp; <span id="card-buttons">card-buttons</span>)</h3>
	<div>
		<img src="/images/content/sample-board-button.png" alt="Board Button Sample"/>
		<div style="text-align:center;">(board-buttons)</div><br/>
		<img src="/images/content/sample-card-button.png" alt="Card Button Sample"/>
		<div style="text-align:center;">(card-buttons)</div>
	</div>
	<p>You are expected to return a list of of buttons.</p>
	<h4>Example</h4>
	<pre>'board-buttons': function(t, board) {
	return [
		{
			icon: './images/icon.svg',
			text: "Button Text",
			url: 'https://developers.trello.com/'
		}
	];
}</pre>
	<h4>Fields</h4>
	<ul>
	<li>
		<strong>icon</strong>
		<div>Path to the icon to display on the button</div>
	</li>
	<li>
		<strong>text</strong>
		<div>Text to show on the button</div>
	</li>
	<li>
		<strong>url (optional)</strong>
		<div>The URL that a user should be taken to upon clicking the button</div>
	</li>
	<li>
		<strong>target (optional)</strong>
		<div>The target for the <strong>a</strong> tag (<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#attr-target">learn about targets</a>)</div>
	</li>
	<li>
		<strong>callback (optional)</strong>
		<div>A method to call onclick.</div>
		<div><em>Please note that callbacks require that you state “callback” as one of your capabilities in your manifest.json file.</em></div>
	</li>
	<hr/>



	<h3><span id="card-badges">card-badges</span> &amp; <span id="card-detail-badges">card-detail-badges</span></h3>
	<h4>Example</h4>
	<pre>'card-badges': function(t, card) {
	return [
		{
			icon: './images/icon.svg',
			text: '3'
		}
	];
}</pre>
	<h4>Dynamic Example</h4>
	<pre>'card-badges': function(t, card) {
	return {
		dynamic: function(){
			return {
				title: 'Detail Badge', // for detail badges only
				text: 'Dynamic ' + (Math.random() * 100).toFixed(0).toString(),
				icon: icon, // for card front badges only
				color: badgeColor,
				refresh: 10
			}
		}
	}
}</pre>
	<h4>Fields</h4>
	<ul>
	<li>
		<strong>text</strong>
		<div>Text to show on the badge</div>
	</li>
	<li>
		<strong>icon (card-badges only)</strong>
		<div>Path to the icon to display on the badge. </div>
		<div><em>Style Note:</em> This image should be solid SVG</div>
		<div><em>Style Note:</em> If using a PNG, the image should be greyscale, matching existing card badges.</div>
	</li>
	<li>
		<strong>title (detail-badges only)</strong>
		<div>Title to show above te badge</div>
	</li>
	<li>
		<strong>color (optional)</strong>
		<div>Should be one of: ‘red’, ‘yellow’, ‘green’, or ‘’</div>
	</li>
	<li>
		<strong>refresh (optional)</strong>
		<div>The number of seconds between refreshes. The system will ignore a refresh of less than 10 seconds. In order to use refresh, the object to be returned should instead look like:</div>
		<pre>{dynamic: callbackFunction(t, context)}</pre>
	</li>
	</ul>
	<p>By returning an object with the property <strong>dynamic</strong> specified as a function that returns these parameters, your card badge will be regenerated based on your supplied refresh rate.</p>
	<hr/>




	<h3 id="attachment-sections">attachment-sections</h3>
	<img src="/images/content/sample-attachment-section.png" alt="Attachment Sections"/>
	<h4>Example</h4>
	<pre>'attachment-sections': function(t, options) {
	return [
		{
			icon: './images/icon.svg',
			title: "Attachment Section",
			claimed: [arrayOfClaimedAttachments],
			content: {
				type: 'iframe',
				url: t.signUrl('./attachment-section.html')
			}

		}
	];
}</pre>
	<h4>Fields</h4>
	<ul>
	<li>
		<strong>icon</strong>
		<div>Path to the icon to display on the button</div>
	</li>
	<li>
		<strong>title</strong>
		<div>Text to show on the button, or a function that returns the title</div>
	</li>
	<li>
		<strong>claimed</strong>
		<div>An array of claimed attachments. You can use objects from options.entries in this array.</div>
	</li>
	<li>
		<strong>content</strong>
		<div>An object with content.type set as “iframe”, and a URL that has been wrapped in <strong>t.signUrl()</strong>.</div>
	</li>
	<li>
		<strong>height (optional)</strong>
		<div>The height of the attachment-section iframe to render</div>
	</li>

	</ul>
	<hr/>





	<h3 id="attachment-thumbnail">attachment-thumbnail</h3>
	<img src="/images/content/sample-attachment.png" alt="Attachment Thumbnail"/>
	<h4>Example</h4>
	<pre>'attachment-thumbnail': function(t, attachment) {
  if(attachment.url == "https://developers.trello.com/") {
    return {
      url: "https://developers.trello.com/",
      openText: "Open With Sample",
      image: {
        url: './images/trello-icon.png',
        logo: true
      },
      initialize: {
        type: 'iframe',
        url: TrelloPowerUp.util.relativeUrl('authorize-link.html')
      }
    };
  } else {
          throw t.NotHandled("Not a handled URL");
  }
},
</pre>
	<h4>Fields</h4>
	<ul>
	<li>
		<strong>url</strong>
		<div>The URL of the file that should be linked to</div>
	</li>
	<li>
		<strong>openText</strong>
		<div>The text shown to the user such as "Open in New Tab" or "Open in DropBox"</div>
	</li>
	<li>
		<strong>image</strong>
		<div>The URL of the thumbnail to be shown, and a boolean parameter 'logo' indicating whether you are showing a logo, or a thumbnail of the content</div>
	</li>
	<li>
		<strong>modified (Date)</strong>
		<div>The date of last modification of the attached file</div>
	</li>
	<li>
		<strong>created (Date)</strong>
		<div>The creation date of the attached file</div>
	</li>
	<li>
		<strong>createdBy</strong>
		<div>The name of the creator of the attached file</div>
	</li>
	<li>
		<strong>modifiedBy</strong>
		<div>The name of the last modifier of the attached file</div>
	</li>
	<li>
		<strong>initialize (optional)</strong>
		<div>If you would like to also include an iframe, such as for authentication purposes, specify a {type:'iframe', url:url} object within the intialize parameter.</div>
	</li>
	</ul>
	<hr/>





	<h3 id="format-url">format-url</h3>
	<img src="/images/content/sample-format-url.png" alt="Formatted URL Rendering"/>
	<h4>Example</h4>
	<pre>'format-url': function(t, options) {
	if(options.url.length > 20) {
		return {
			icon: './images/trello-icon.png',
			text: options.url
			
		};
	} else {
		throw t.NotHandled("Not a handled URL");
	}
},</pre>
	<h4>Fields</h4>
	<ul>
	<li>
		<strong>icon</strong>
		<div>Path to the icon to display to the left of the URL</div>
	</li>
	<li>
		<strong>text</strong>
		<div>Text to show instead of the URL</div>
	</li>

	</ul>
	<h4>Context Fields</h4>
	<p>The following fields are available as part of the context object:</p>
	<ul>
	<li>
		<strong>url</strong>
		<div>The URL of the attachment</div>
	</li>
	<li>
		<strong>locale</strong>
		<div>The locale of the member</div>
	</li>
	</ul>
	<hr/>





	<h3 id="card-from-url">card-from-url</h3>
	<h4>Example</h4>
	<pre>'card-from-url': function(t, options) {
	return {
		name: 'All New Cards have this name',
		desc: 'All New cards have this description'
	};
},</pre>
	<h4>Fields</h4>
	<ul>
	<li>
		<strong>name</strong>
		<div>The name to use for the new Card</div>
	</li>
	<li>
		<strong>desc</strong>
		<div>The description to use for the new Card</div>
	</li>

	</ul>
	<hr/>





	<h3 id="show-settings">show-settings</h3>
	<img src="/images/content/sample-popup.png" alt="Show Settings Popup"/>
	<h4>Example</h4>
	<pre>'show-settings': function(t, options) {
	return t.popup({
		title: "Power-Up Settings",
		url: 'settings.html',
		height: 250
	});
}</pre>
	<p>No fields need to be returned with this capability. Standard behavior is to open a popup as shown in the example above.</p>


</div>
