  <nav class="app-nav">
    <ul  class="app-nav-list">
		<li class="app-nav-list-item"><a class="app-nav-list-item-link" ui-sref=".architecture">Architecture</a></li>
		<li class="app-nav-list-item"><a class="app-nav-list-item-link" ui-sref=".capabilities">Capabilities</a></li>
		<li class="app-nav-list-item"><a class="app-nav-list-item-link" ui-sref=".file-structure">File Structure</a></li>
		<li class="app-nav-list-item"><a class="app-nav-list-item-link" ui-sref=".samples">Samples</a></li>
		<li class="app-nav-list-item"><a class="app-nav-list-item-link" ui-sref=".topics">Topics</a></li>
		<li class="app-nav-list-item"><a class="app-nav-list-item-link" ui-sref=".client-library">Client Library</a></li>
		<li class="app-nav-list-item"><a class="app-nav-list-item-link" ui-sref=".troubleshooting">Troubleshooting</a></li>
	</ul>
  </nav>

  <main ui-view style="position:relative;"></main>
