<div class="app-content">
	<h2>Power-Ups Introduction</h2>
	<p>Power-Ups are powerful independent modules that allow developers to modify the Trello experience while still maintaining member control. Power-Ups represent the ability to enrich the experience of members by modifying and improving their interactions with Boards and Cards. Power-Ups are currently only available to members as part of <a href="https://trello.com/business-class">Business Class</a> or <a href="https://trello.com/enterprise">Enterprise</a>.
	</p>
	<p>
	Our current set of Power-Ups has some great examples of what the platform can do. Learn more about our <a href="http://blog.trello.com/github-and-trello-integrate-your-commits/?utm_source=integrations&utm_medium=web">GitHub Power-Up</a>, or our <a href="http://blog.trello.com/trello-salesforce-integration/?utm_source=integrations&utm_medium=web">Salesforce Power-Up</a>.</p>

	<h3>Power-Up Samples</h3>
	<p>Trello has built two sample Power-Ups that you can use to get started developing right away. These sample demonstrate of the capabilities of the platform and should help you to get started.</p>
	<div>
	  <a href="/scripts/sample-power-up-2016-01-19.tar.gz" target="_blank"><button class="mod-primary">Download The Sample Project</button></a>
	  <a href="https://github.com/trello/power-up-template"><button class="mod-primary">Clone the GitHub Pages Sample</button></a>
	</div>

	<h3>Getting Started</h3>
	<p>Interested in building your own Power-Up? First, clone/download our samples above, or get started by building your own <a ui-sref="power-ups.architecture({'#':'manifest'})">manifest and index connector</a>. Once you've got something ready and hosted via HTTPS, there are two ways to hook up your Power-Up.</p>
	<ul>
		<li>
			<strong>Local Development Only</strong>
			<p>Visit <a href="https://trello.com/power-up-preview">https://trello.com/power-up-preview</a> and enter an HTTPS-based manifest URL. This will allow you to see and enable your Power-Up only for your current browser and member. Other members of your team won't be able to see your Power-Up, and you will see your Power-Up on all boards belonging to BC or Enterprise Teams that you have access to.</p>
		</li>
		<li>
			<strong>Team Development</strong>
			<p>Click the button below to request Sandbox access to the Platform. Sandbox access is available for Team Admins, and allows you to attach a Power-Up to your own Team for development and private usage. We'll need your team name and HTTPS based manifest to get you setup.</p>
			<a href="http://goo.gl/forms/kulpTLAFDd" target="_blank" ><button class="mod-primary">Request Power-Up Sandbox Access</button></a>
		</li>

	</ul>

	

	

  <h3>Looking for more help or clarifications?</h3>
  <p>Already got access, have read the documentation, and are looking for more help or clarification? We are trying out holding office hours for Power-Up development over video chat. To sign up for an office hours appointment, please select from the available slots on this <a href="https://calendar.google.com/calendar/selfsched?sstoken=UU5DczNLUkNIbk5ifGRlZmF1bHR8YzJmZWM4YWM0NTgxMTE1NmRmMzgxNzMwODRjYzEwZGU" target="_blank">calendar</a>.</p>

</div>
