<div class="app-content">
  <h2>Power-Ups Introduction</h2>
  <p>Power-Ups are powerful independent modules that allow developers to modify the Trello experience while still maintaining member control. Power-Ups represent the ability to enrich the experience of members by modifying and improving their interactions with Boards and Cards.
  </p>
  <p>
  Our current set of Power-Ups has some great examples of what the platform can do. Learn more about our <a href="http://blog.trello.com/github-and-trello-integrate-your-commits/?utm_source=integrations&utm_medium=web">GitHub Power-Up</a>, or our <a href="http://blog.trello.com/trello-salesforce-integration/?utm_source=integrations&utm_medium=web">Salesforce Power-Up</a>.</p>

  <p>Power-Ups gain read-only access to member information as members interact with the Power-Up. Power-Ups can make Attachments to Cards and can store Power-Up specific data, but are restricted from making other changes.</p>

  <h3>Power-Up Samples</h3>
  <p>Trello has built two sample Power-Ups that you can use to get started developing right away. These samples demonstrate the capabilities of the platform and should help you to get started.</p>
  <div>
    <a href="https://glitch.com/edit/#!/trello-power-up" target="_blank" rel="noopener noreferrer"><button class="mod-primary">Remix the Glitch Sample Project</button></a>
    <a href="https://github.com/trello/power-up-template" target="_blank" rel="noopener noreferrer"><button class="mod-primary">Clone the GitHub Pages Sample</button></a>
  </div>

  <h3>Getting Started</h3>
  <p>Interested in building your own Power-Up? First, clone/download our samples above, or get started by building your own <a ui-sref="power-ups.architecture({'#':'manifest'})">manifest and index connector</a>. Once you've got something ready and hosted via HTTPS, you'll just need a Trello team for which you want your Power-Up available.</p>

  <p>You will need to be a team admin for the Trello team you want to add your Power-Up to. It doesn't matter whether the team is free or paid. Click below to get started. We'll need your Power-Up's Name and an HTTPS based manifest to get you setup.</p>
  <a href="https://trello.com/power-ups/admin" target="_blank" ><button class="mod-primary">Create a Power-Up</button></a>
  
  <h3>Looking for more help or clarifications?</h3>
  <p>Already got access, have read the documentation, and are looking for more help or clarification? We are trying out holding office hours for Power-Up development over video chat. To sign up for an office hours appointment, please select from the available slots on this <a href="https://calendar.google.com/calendar/selfsched?sstoken=UU5DczNLUkNIbk5ifGRlZmF1bHR8YzJmZWM4YWM0NTgxMTE1NmRmMzgxNzMwODRjYzEwZGU" target="_blank">calendar</a>.</p>
</div>
