<div class="app-content">
	<h2>Power-Ups Introduction</h2>
	<p>Power-Ups are powerful independent modules that allow developers to modify the Trello experience while still maintaining member control. Power-Ups represent the ability to enrich the experience of members by modifying and improving their interactions with Boards and Cards. Power-Ups are currently only available to members as part of <a href="https://trello.com/business-class">Business Class</a> or <a href="https://trello.com/enterprise">Enterprise</a>.
	</p>
	<p>
	Our current set of Power-Ups has some great examples of what the platform can do. Learn more about our <a href="http://blog.trello.com/github-and-trello-integrate-your-commits/?utm_source=integrations&utm_medium=web">GitHub Power-Up</a>, or our <a href="http://blog.trello.com/trello-salesforce-integration/?utm_source=integrations&utm_medium=web">Salesforce Power-Up</a>.</p>

	<p>You can request Sandbox access to the Power-Ups Platform:</p>
	<a href="http://goo.gl/forms/kulpTLAFDd" target="_blank" ><button class="mod-primary">Request Power-Up Sandbox Access</button></a>

  <p>Already got access, have read the documentation, and are looking for more help or clarification? We are trying out holding office hours for Power-Up development over video chat. To sign up for an office hours appointment, please select from the available slots on this <a href="https://calendar.google.com/calendar/selfsched?sstoken=UU5DczNLUkNIbk5ifGRlZmF1bHR8YzJmZWM4YWM0NTgxMTE1NmRmMzgxNzMwODRjYzEwZGU" target="_blank">calendar</a>.</p>

</div>
