
<div class="app-content">

<h2>Trello Power-Ups</h2>
<p>Power-Ups are powerful independent modules that allow developers to modify the Trello experience while still maintaining member control. Power-Ups represent the ability to enrich the experience of members by modifying and improving their interactions with Boards and Cards. Power-Ups are currently only available to members as part of Business Class or Enterprise.
</p>
<p>
Some great examples of Power-Ups are available as part of Business Class. Learn more about our <a href="http://blog.trello.com/github-and-trello-integrate-your-commits/?utm_source=integrations&utm_medium=web">Github Power-Up</a>, or our <a href="http://blog.trello.com/trello-salesforce-integration/?utm_source=integrations&utm_medium=web">SalesForce Power-Up</a>.</p>
<ul>
	<li><a ui-sref=".architecture">Architecture</li>
	<li><a ui-sref=".capabilities">Capabilities</a></li>
	<li><a ui-sref=".file-structure">File Structure</a></li>
	<li><a ui-sref=".topics">Topics</a></li>
	<li><a ui-sref=".client-library">Power-Up Client Library</a></li>
	<li><a ui-sref=".troubleshooting">Troubleshooting</a></li>
</ul>
<ui-view></ui-view>
</div>