<div class="app-content">
<h2>Power-Up Samples</h2>
<p>Trello has built a Standalone sample that you can use to get started right away. This sample demonstrates several of the capabilities.</p>
<a href="/scripts/sample-power-up-2016-01-19.tar.gz">Download The Sample</a>

<h3>Sample Power-Up - Appear.in</h3>
<p>
To understand the general framework of Capabilities, we will use a sample Appear.in plugin to demonstrate one of the simplest Capabilities, “board-buttons”. This Capability adds a button to the top of the board. 
</p>
<pre>var AppearIn = require('appearin-sdk');

var appearin = new AppearIn();
var roomUrl = function(path) {
  return "https://appear.in/trello.com/" + path;
}


// Initialize the Trello PowerUp with our capabilities
TrelloPowerUp.initialize({
  // Specify the board-buttons method to call, taking both
  // a “t” object that exposes Trello member information and
  // a reference to the board context for any potential buttons
  'board-buttons': function(t, board) {

    // We verify via the Appear.in SDK that the member is 
    // capable of using Appear.in. If not, show no button
    if(!appearin.isWebRtcCompatible()) {
      return [];
    }


    // We create a button by specifying that when the board 
    // details promise has been resolved, we return an object 
    // with the contents of the button once the board details 
    // have been loaded
    return t.board()
    .then(function(board){
      var url = roomUrl('b/' + board.id);
      return [
        {
          icon: './images/icon.svg',
          text: "Appear.in",
          url: url,
          target: url
        }
      ]
    })
  }
})</pre>

<h3>Sample Power-Up - Dropbox</h3>
<p>Dropbox is a more complex Power-Up. Our Dropbox Power-Up takes advantage of attachment-sections, attachment-thumbnail, format-url, and card-buttons.
</p>
<pre>
var api = require('src/api');
var dataForUrl = require('src/data-for-url');
var dropboxButton = require('src/dropbox-button');
var DropboxError = require('src/dropbox-error');
var DropboxUrls = require('src/dropbox-urls');
var xtend = require('xtend');

var Promise = Trello.Promise;

var ICON_SVG = './images/icon.svg';

var uniqueClaims = function(list) {
  var seen = {};
  return list.filter(function(entry){
    if(!seen[entry.url]) {
      seen[entry.url] = true;
      return true;
    }
    return false;
  });
}

TrelloPowerUp.initialize({
  'attachment-sections': function(t, options) {
    var entries = options.entries;

    var claimed = entries.filter(function(entry){
      return DropboxUrls.isFolder(entry.url);
    })

    if(claimed.length == 0) {
      return [];
    }

    return Promise.map(uniqueClaims(claimed), function(claim){
      var parsed = DropboxUrls.parse(claim.url);

      var eventualTitle = dataForUrl(t, claim.url, claim.name)
      .get('title')
      .then(function(title){
        if(title && !/^https:/.test(title)) {
          return title;
        } else {
          return "Dropbox Folder";
        }
      });

      return {
        claimed: [ claim ],
        icon: ICON_SVG,
        title: function(){
          return eventualTitle
        },
        content: {
          type: 'iframe',
          url: t.signUrl('./folder.html', { url: claim.url })
        }
      }
    })
  },
  'attachment-thumbnail': function(t, options) {
    return dataForUrl(t, options.url, options.name, { thumbnail: true })
    .then(function(data){
      data.url = options.url;
      data.openText = "Open in Dropbox";
      data.image = {
        url: data.thumbnail || ICON_SVG,
        logo: !data.thumbnail
      }
      if(data.uninitialized) {
        data.initialize = {
          type: 'iframe',
          url: t.signUrl(TrelloPowerUp.util.relativeUrl('authorize-link.html'))
        }
      }

      return data;
    })
    .catch(DropboxError, function(){
      throw t.NotHandled();
    })
  },
  'format-url': function(t, options) {
    return dataForUrl(t, options.url, options.name)
    .then(function(data){
      return {
        icon: ICON_SVG,
        text: data.title
      }
    })
    .catch(DropboxError, function(){
      throw t.NotHandled();
    })
  },
  'card-buttons': function(t) {
    return [{
      icon: ICON_SVG,
      text: 'Dropbox',
      callback: dropboxButton
    }]
  }
});
</pre>
</div>