<div class="app-content">

  <h2>
    Style
  </h2>

  <p>
    You can rely on the base styles in <a href="https://trello.com/power-ups/power-up.css">power-up.css</a>. There’s no need to override things like buttons, inputs, tables, headers, font styles, and code blocks, that aren’t core to your Power-Up. <strong>power-up.css</strong> includes <strong>normalize.css</strong>, a CSS reset which “makes browsers render all elements more consistently and in line with modern standards”. You don’t need to include anything similar in your CSS.
  </p>

  <p>
    There are a few additional classes outside those basic elements: 
​  </p>

  <ul>
    <li>
      For buttons, you can use a <strong>&lt;button&gt;</strong> tag: <button>Button</button>
    </li>    
    <li>
      You can optionally use the <strong>.mod-primary</strong> class, to make it green and more prominent (for call-to-action buttons and such): <button class="mod-primary">Call-to-action Button</button>
    </li>
    <li>
      You can add a <strong>.mod-danger</strong> class for dangerous or destructive actions like deleting: <button class="mod-danger">Dangerous Button</button>
    </li>
    <li>
      Submit inputs will also be styled like a button. You can add <strong>.mod-primary</strong> and <strong>.mod-danger</strong> classes to submit inputs as well: <input type="submit"></input>
    </li>
    <li>
      For <strong>&lt;button&gt;</strong>, <strong>&lt;input&gt;</strong>, and <strong>&lt;textarea&gt;</strong> elements, you can add the <strong>disabled</strong> attribute to communicate that you can’t interact with the element: <button disabled>Disabled Button</button> 
    </li>

    <p>
      For more about how we write CSS, see our <a href="https://github.com/trello/trellisheets/blob/master/styleguide.md">style guide</a>.
​    </p>

    <p>
      For colors, you can pull from the <a href="https://trello.com/about/branding#colors">Trello color palette</a>. We also have <a href="https://github.com/trello/trellicolors">Trellicolors</a>, which converts the colors to different formats in case you want to interact with them programmatically. The light-gray colors are what we typically use for UI chrome.
    </p>

</div>
