<div class="app-content">
	<h2>Power-Ups Troubleshooting</h2>
	<p>As our platform grows, we are working on identifying the most common mistakes and problems.</p>
	<p><strong>Uncaught PluginRunner::NotHandled: attempt to run callback on plugin 55a5d917446f51777421000f failed(anonymous function) @ ltp.js:40603(anonymous function) @ ltp.js:37845</strong>
	<p>ltp.js:38699 ^--- With additional stack trace: PluginRunner::NotHandled: attempt to run callback on plugin 55a5d917446f51777421000f failed</p>
	<p><strong>Solution:</strong> Make sure you are specifying “callback” as one of your capabilities in your manifest.json file.</p>
</div>