<div class="app-content">

  <h1>Submit Your App To Trello</h1>

  <p>Trello loves showing off the tools developers have built on the Trello Platform. There are two types of applications we show-case, <a href="https://trello.com/power-ups/">Power-Ups</a> and <a href="https://trello.com/integrations/">Integrations</a>. To have your app added to our listings, follow the steps below.</p>

  <h2>Power-Ups vs. Integrations</h2>

  <p>Unsure of the difference between Power-Ups and Integrations? Power-Ups make use of the the <a href="https://developers.trello.com/power-ups/intro">Power-Up API and platform</a>. They are given canvas realestate on the core Trello product. Most Power-Ups will also make use of Trello's <a href="https://developers.trello.com/advanced-reference">RESTful API</a>, but it isn't a requirement. Power-Ups are able to be enabled on boards by Trello users without having to leave Trello. Integrations are often add-ons within other apps and tools that interact with Trello via the RESTful API. Integrations also include Chrome extensions and other browser add-ons.</p>

  <h3>Power-Up Specific Details</h3>

  <p>Our bar for 3rd party Power-Ups is that they should provide a user experience at the level of Trello itself. They should not do too much, nor too little. They should be free of bugs and awkward user experiences.</p>

  <p>We've put together a list of guidelines for building Power-Ups. Be sure to read through them <a href="power-ups/guidelines">here</a>.</p>

  <p>Check out our <a href="https://trello.com/about/branding">Brand Guidelines</a>. Power-Ups should be an extension of the Trello experience. We want Trello users to love using your Power-Up as much as they love using Trello! You can also check out our <a href="https://trello.com/about">brand assets</a>.</p>

  <h4>Power-Up Requirements</h4>
  <ul>
    <li>Power-Up must provide a way to disassociate user authorization via the show-settings capability.</li>
    <li>There should be no JS errors in console.</li>
    <li>The Power-Up should be named such that it does not make use of overly generic terms, e.g. "Calendar" or "Agile". However, it may be named with a generic term if it is followed by a "by Company Name" statement - e.g. "Calendar by Trello, Inc." is acceptable.</li>
  </ul>

  <h4>Power-Up Hosting</h4>

  <p>Hosting a Power-Up is the responbility of the creator. Trello does not host Power-Ups. Please ensure that you have highly available, responsible, and scalable hosting for your Power-Up.</p>

  <h2>Review process</h2>

  <h3>Power-Ups</h3>

  <p>After you've submitted your Power-Up, you should receive confirmation of the submission from the review team with 2 business days. The review team will enable the Power-Up on a Trello board and use that board to fully test the Power-Up. As the review is underway, cards will be added to the board that include issues that must be fixed before publishing and general feedback. You and your team should be invited to join that board within 4 business of your submission. Once you've joined the board, feel free to mention the review team using @board to ask questions or if you need help with anything.</p>

  <p>Your Power-Up may be placed under review after it's initial approval if you make significant changes to the Power-Up post-approval.</p>

  <h3>Integrations</h3>

  <p>After you've submitted your integration for review, the review team will notify you that they've received the submission and are reviewing the integration. We will thoroughly test the integration and ensure that it matches with the documentation you submit. Once we've confirmed that the integration works as expected and have finished testing it, we will add a listing for it to <a href="https://trello.com/integrations/">Trello's integrations page</a>.</p>

  <h2>Submitting Your App</h2>

  <p>Our review process usually takes two weeks. Once you submit your app, our review team should reach out within 48 hours to begin a conversation.</p>

  <p>To submit your app, please complete this form: <a href="https://trello.typeform.com/to/LMLiBz">https://trello.typeform.com/to/LMLiBz</a></p>
  
  <h4>Questions?</h4>

  <p>Send us your questions at <a href="mailto:platform@trello.com?Subject=App%20Review%20Request">platform@trello.com</a> and we'll answer them</p>

</div>
