<div class="app-content">

  <h2>Submit Your App To Trello</h2>

  <p>Trello loves showing off the tools developers have built on the Trello Platform. There are two types of applications we show-case, <a href="https://trello.com/power-ups/">Power-Ups</a> and <a href="https://trello.com/integrations/">Integrations</a>. To have your app added to our listings, follow the steps below.</p>

  <h4>Power-Ups vs. Integrations</h4>

  <p>Unsure of the difference between Power-Ups and Integrations? Power-Ups make use of the the <a href="https://developers.trello.com/power-ups/intro">Power-Up API and platform</a>. They are given canvas realestate on the core Trello product. Most Power-Ups will also make use of Trello's <a href="https://developers.trello.com/advanced-reference">RESTful API</a>, but it isn't a requirement. Power-Ups are able to be enabled on boards by Trello users without having to leave Trello. Integrations are often add-ons within other apps and tools that interact with Trello via the RESTful API. Integrations also include Chrome extensions and other browser add-ons.</p>

  <h4>Power-Up Specific Details</h4>

  <p>Our bar for 3rd party Power-Ups is that they should provide a user experience at the level of Trello itself. They should not do too much, nor too little. They should be free of bugs and awkward user experiences.</p>

  <p>Check out our <a href="https://trello.com/about/branding">Brand Guidelines</a>. Power-Ups should be an extension of the Trello experience. We want Trello users to love using your Power-Up as much as they love using Trello! You can also check out our <a href="https://trello.com/about">brand assets</a>.</p>

  <b>Power-Up Requirements</b>
  <ul>
    <li>Power-Up must provide a way to disassociate user authorization via the show-settings capability.</li>
    <li>There should be no JS errors in console.</li>
  </ul>

  <h5>Power-Ups Hosting</h5>

  <p>Hosting Power-Ups is the responbility of the creator. Trello does not host Power-Ups. Please ensure that you have highly available, responsible, and scalable hosting for your Power-Up.</p>

  <h4>Submitting Your App</h4>

  <p>Our review process usually takes two weeks. Once you submit your app, our review team should reach out within 48 hours to begin a conversation.</p>

  <p>Once you are ready to submit your App, send an email to <a href="mailto:platform@trello.com?Subject=App%20Review%20Request">platform@trello.com</a>. Please include the following information:
    <b>All Submissions:</b>
    <ul>
      <li>App Name</li>
      <li>Contact Name</li>
      <li>Contact Email</li>
      <li>Brief description of what the app does.</li>
    </ul>
    <b>Power-Up Only Submissions</b>
    <ul>
      <li>Your manifest.json URL</li>
    </ul>
    <b>Integration Only Submissions</b>
    <ul>
      <li>URL you want linked to from Trello's <a href="https://www.trello.com/integrations">integrations page.</a></li>
    </ul>
  </p>

  <h4>Questions?</h4>
  <p>Send us your questions at <a href="mailto:platform@trello.com?Subject=App%20Review%20Request">platform@trello.com</a> and we'll answer them</p>

</div>
