<div class="app-content">

	<h2>The Best Community Ever</h2>
  <review-bar></review-bar>
	<p>Trello is built around a fantastic community of users and developers. Here's a list
		of some of the top community projects to help you Build with Trello.</p>
	<p>We'd love to hear your experiences with these projects, but unfortunately we cannot
		provide support for them.</p>

	<h3>3rd Party Wrappers</h3>
	<p>Wrappers make it easier to interact with the Trello API using a number of different
		programming languages.</p>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Author</th>
			<tr>
		</thead>
		<tbody>
			<tr ng-repeat="wrapper in wrappers">
				<td><a href="{{wrapper.url}}" target="_blank">{{wrapper.name}}</a></td>
				<td>{{wrapper.author}}</td>
			<tr>
		</tbody>
	</table>

	<h3>3rd Party Sample Projects</h3>
	<p>Developers have already built some cool things with Trello. Here are some open source
		projects that you can use for reference. </p>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Author</th>
			<tr>
		</thead>
		<tbody>
			<tr ng-repeat="sample in samples">
				<td>
					<a href="{{sample.url}}" target="_blank">{{sample.name}}</a>
				</td>
				<td>
					by {{sample.author}}
						<span ng-show="sample.clientjs">(This project uses client.js)</span>
				</td>
			<tr>
		</tbody>
	</table>

</div>
