<div class="app-content">

	<h2>API Introduction
  <review-bar></review-bar></h2>

	<p>The Trello API is extremely powerful. We use the same API in the official web and
		mobile clients.</p>

	<p>Building a full application with Trello means getting to know the various concepts
		and models in Trello. The following are the most important concepts, listed in
		rough order of importance.</p>

	<ol>
		<li><a href="#/apis#authentication">Authentication and Authorization</a></li>
		<li><a href="#/apis#boards">Boards</a></li>
		<li><a href="#/apis#lists">Lists</a></li>
		<li><a href="#/apis#cards">Cards</a></li>
		<li><a href="#/apis#actions">Actions</a></li>
		<li><a href="#/apis#webhooks">Webhooks</a></li>
		<li><a href="#/apis#recursion">Recursion Helpers</a></li>
		<li><a href="#/apis#batching">Batching</a></li>
		<li><a href="#/apis#search">Search</a></li>
	</ol>

	<h2 id="authentication">Authentication and Authorization</h2>
	<p>There are two steps before your application may make a call on behalf of a user.
		The first is to get your Application Key. This key identifies your application
		to Trello, and to your users.</p>
	<p>The second step is to perform an authentication and authorization. Trello uses a
		delegated authentication and authorization flow so that your application never
		has to deal with storing or handling usernames or passwords. Your application passes
		control to Trello. Once we have allowed the user to choose an account and sign
		in, we will hand the user and control back to your application, with the addition
		of an Authorization Token. This token is based on your Application Key, the user
		that has logged in, and the set of permissions that have been authorized.</p>
	<p>Every time your application uses this token, the request will be made on behalf
		of the authenticated user, based on that user's content and permissions. If you
		try to access a board or make a change for which the user does not have permission,
		your request will be blocked.</p>

	<h2 id="boards">Boards</h2>
	<a href="#/advanced-reference/board">Full Boards API Reference</a>
	<p>Boards are the highest level concept within the Trello workflow. The Boards API
		allows you to list, view, create, and edit Boards. Each Board has a name, description,
		a set of members attached, and an ordered array of Lists.</p>
	<p>Boards can be open or closed, starred, and/or subscribed. Each Board belongs to
		an organization. Each board also has a set of preferences that affect its visual
		display, and additional features that may have been attached to the Board (such
		as Power-Ups).</p>
	<h3>Important Methods</h3>
	<ul>
		<li>GET /1/members/me/boards - Get an array of the Boards of a user</li>
		<li>GET /1/boards/[board_id]/cards - Get an array of Cards on a board</li>
		<li>GET /1/boards/[board_id]/lists - Get an array of Lists on a board</li>
	</ul>

	<h2 id="lists">Lists</h2>
	<a href="#/advanced-reference/list">Full Lists API Reference</a>
	<p>A List is a collection of Cards. In the standard Trello interface, Lists are stacked horizontally and are ordered on a board.</p>
	<h3>Important Methods</h3>
	<ul>
		<li>GET /1/lists/[idList]/cards - Get an array of Cards on a List</li>
		<li>POST /1/cards - Create a new Card on a List</li>
	</ul>

	<h2 id="cards">Cards</h2>
	<a href="#/advanced-reference/card">Full Cards API Reference</a>
	<p>A Card is the most basic unit of information in Trello. Cards have a name, description, labels, members, and a set of historical actions that have been taken on the card, including any comments.</p>
	<h3>Important Methods</h3>
	<ul>
		<li>POST /1/cards - Create a new card on a List</li>
		<li>PUT /1/cards/[card id or shortlink] - Update the contents of a Card</li>
		<li>POST /1/cards/[card id or shortlink]/actions/comments - Add a comment to a Card</li>
		<li>POST /1/cards/[card id or shortlink]/idMembers - Add a member to a Card</li>
	</ul>

	<h3>Child Methods</h3>
	<ul>
		<li>Actions - Actions are the audit log / record of everything that has been done to
			a card throughout its history, including any comments that have been made.</li>
		<li>Labels - Labels can be as simple as colors attached to a Card, or Labels can have names.</li>
	</ul>
	
	<h2 id="actions">Actions</h2>
	<a href="#/advanced-reference/action">Full Actions API Reference</a>
	<p>Actions contain each of the actions that have been taken on a Card or Board, including  updates to the labels or members of a Card. Comments are also stored as a special type of Action on a card.</p>
  <p>The API limits Action queries to 1000 at a time. Actions can be queried at the Board or at the Card level. To retreive the full list of actions when there are more then 1000, multiple requests must be made using the <pre style="display:inline;">since</pre> and <pre style="display:inline;">before</pre> parameters.</p>
  
	<h2 id="webhooks">Webhooks</h2>
	<p>A developer could theoretically parse a user's Boards, Lists, and Cards in order to get
		all of the information, but this would mean loading a lot of data that doesn't
		change very often, using more bandwidth, CPU, and RAM for both you and for our
		servers. To mitigate this we have built a system that allows your application to
		hook into updates on various members such as Boards, Lists, and Cards. Whenever
		a member with a Webhook is changed, we make an HTTP request to the endpoint of
		your choosing.</p>
	<h3>Important Methods</h3>
	<ul>
		<li>POST /1/webhooks - Create a Webhook</li>
		<li>GET /1/tokens/[token]/webhooks - Get an array of the Webhooks associated with your
			token</li>
		<li>DELETE /1/webhooks/[idWebhook] - Delete a Webhook</li>
	</ul>
	<p><a href="https://trello.com/docs/gettingstarted/webhooks.html">Learn more about Webhooks</a></p>



	<h2 id="recursion">Recursion Helpers</h2>
	<p>Several of the core methods allow you to directly access member content. For example,
		instead of retrieving a list and then recursively requesting each of the cards
		on the list, you can retrieve this information directly, and optionally supply
		a filter for the child cards.</p>
	<h3>Example Recursions</h3>
	<ul>
		<li>GET /1/lists/[idList]/cards</li>
		<li>GET /1/lists/[idList]/cards/[filter]</li>
		<li>GET /1/cards/[card id or shortlink]/checklists</li>
		<li>DELETE /1/cards/[card id or shortlink]/labels/[color]</li>
	</ul>

	<!--
	<h2>Advanced Topics and Optimizations</h2>

	<h2>Deltas</h2>-->

	<h2 id="batching">Batching</h2>

	<p>When requesting content from the Trello API, you may want to lookup a lot of information
		at once. The Trello API has the ability to Batch multiple GET requests at once.
		You can use this to get the contents of multiple Cards or Lists with a single HTTP
		transaction, and you can even mix multiple request types.</p>
	<h3>Example Batch Request</h3>
	<pre>GET /1/batch?urls[]=/1/lists/[idList]&amp;urls[]=/1/lists/[other idList]</pre>

	<h2 id="search">Search</h2>
	<p>The Trello API offers the ability to search all the actions, boards, cards, members, and organizations. While you can't control which fields you want to search, you can specify which fields you want your search to return. By passing in a single string, we will look at all of the relevant fields and return a list of all those matching models.</p>
	<h3>Example Search Request</h3>
	<pre>GET /1/search?query=Wedding</pre>
	<p>This search will return a list of actions, boards, cards, members, and organizations that match "Wedding".</p>


</div>
