<h2>The Best Community Ever</h2>
<style>
.cardList md-card {
	width:250px;
	float:left;
}
</style>
<p>Trello is built around a fantastic community of users and developers. Here's a list of some of the top community projects.</p>

<h3>Wrappers</h3>
<p>Wrappers make it easier to integrate with Trello using a number of different programming languages.</p>
<div class="cardList">
	<md-card ng-repeat="wrapper in wrappers" ng-click="open(wrapper.url);">
		<md-card-content>
			<h2 class="md-title">{{wrapper.name}}</h2>
			<p>by {{wrapper.author}}
		</md-card-content>
	</md-card>
</div>	