<div class="app-content">

  
  <h2>Start Building with Trello</h2>
  <review-bar></review-bar>
  
  <p>Follow this framework to start building an integration with Trello.</p>

  <ol>
    <li><a href="" ng-click="scrollTo('connect');">Connect to the client.js library</a></li>
    <li><a href="" ng-click="scrollTo('authenticate');">Authenticate your user</a></li>
    <li><a href="" ng-click="scrollTo('create');">Create cards and update information</a></li>
  </ol>

  <h3 id="connect">1. Connect to the client.js library</h3>
  <h4>Get your Application Key</h4>
  <p>The <a href="/clientjs">client.js</a> library was created to make it easier to use the Trello REST API with web applications.
    There's nothing magic about it, but it can make things a little bit faster through
    some convenient methods.</p>
  <p>There are two steps to using the client.js library. The first is to get your Application
    Key. This Key identifies your Application to the API and is needed for any authenticated
    or unauthenticated API Calls.</p>

  <button ng-click="openAppKey();">Get your Application Key</button>

  <h4>Include the client library and jQuery</h4>
  <p>Now we can include jQuery and the client.js library in the application. Before
    the body tag, add the following and replace the AppKey:</p>
  <pre>&lt;script src="http://code.jquery.com/jquery-1.7.1.min.js"&gt;&lt;/script&gt;
&lt;script src="https://api.trello.com/1/client.js?key=[AppKey]"&gt;&lt;/script&gt;</pre>
  <p>Now that you have included these two dependencies, you will have access to a global
    Trello object that has many helper methods.</p>


  <h3 id="authenticate">2. Authenticate your user</h3>
  <p>Using the Trello object, we need to authenticate the user. This is done with the
    Trello.authenticate method. This method will automatically trigger the OAuth
    flow and return back a token. This token will be specific to your Application
    ID and the user who is executing the flow.</p>
  <p>It's important to understand that the Authentication Token gives your application
    the ability to make calls on behalf of your user, from their context. This token
    grants access to the authenticated user's boards, lists, cards, and other settings,
    depending on the permissions you requested in the authenticate method.</p>
  <h4>Define Success and Failure</h4>
  <p>First, let's define what happens when authentication has finished using success
    and failure callbacks.</p>

<pre>var authenticationSuccess = function() { console.log("Successful authentication"); };
var authenticationFailure = function() { console.log("Failed authentication"); };</pre>

  <h4>Authenticate and Authorize your user</h4>
  <p>Now let's attempt authentication and authorization in one step.</p>

<pre>Trello.authorize({
  type: "popup",
  name: "Getting Started Application",
  scope: {
    read: true,
    write: true },
  expiration: "never",
  success: authenticationSuccess,
  error: authenticationFailure
});</pre>

  <p>If authentication was successful, the Trello object will now store and use our
    valid Authentication Token for all future calls. Handy!</p>

  <h3 id="create">3. Create Cards and update information</h3>
  <p>We are now ready to make any API call that we would like using the context of both
    our Application (defined by our Application Key), and a user (defined by the
    Authentication Token).</p>
  <h4>Finding a List ID</h4>
  <p>One of the trickier parts of using the Trello API for simple use cases is finding
    a List ID that belongs to a user. There are a few ways of doing this depending
    on your skillsets. One such way is to use the Chrome Dev Tools to watch network
    traffic from the official client.</p>
  <p>To try to make this easy, we'll be dumping the JSON from a known card. Open the
    official Trello web client and find a card from a list that you want to use as
    your target.</p>
  <p>It should have a short URL that looks like
    <pre>https://trello.com/c/DcqBrqdx/1-target-card</pre>
  </p>
  <p>Take that URL and add .json to the end as follows:</p>
  <pre>https://trello.com/c/DcqBrqdx/1-target-card.json</pre>
  <p>Within the raw JSON dump you get when pulling up this new URL, you will see a field
    called "idList". We're about to use this to create a new card in the same list.</p>

  <h4>Creating a card</h4>
  <p>Creating a card is one of the simplest API calls you can make. We just create a
    card object that contains the parameters we want to set, and then POST it to
    the API.</p>
  <pre>var myList = "INSERT YOUR IDLIST HERE";
var creationSuccess = function(data) {
  console.log("Card created successfully. Data returne:" + JSON.stringify(data));
};
var newCard = {name: "New Test Card", desc: "This is the description of our
  new card.", pos: "top", // Place this card at the top of our list idList: myList,
};
Trello.post("/cards", newCard);</pre>

  <h4>Updating Data</h4>
  <p>Now that we have created a card and retrieved its ID via the log, we're going to
    make an update to this card. To do so, we will PUT a new name for it.</p>
  <pre>Trello.put("/cards/[ID]", {name: "New Test Card"});</pre>

</div>
