<div class="app-content mod-full">

	<div class="overview-header">
		<h1 class="overview-header-text">
			Start building with Trello.
		</h1>
	</div>

	<div class="overview-list">

		<div class="overview-list-item">
			<h2>Learn in 5 Minutes</h2>
			<p>New to the Trello API? Get started with our 5 minute introduction.</p>
			<button class="mod-primary" ui-sref="get-started.start-building">Get Started</button>
		</div>

		<div class="overview-list-item">
			<h2>API Docs</h2>
			<p>Trello API Pro? Find a route, argument, or permission in our API reference docs.</p>
			<button class="mod-primary" ui-sref="advanced-reference">Visit Docs</button>
		</div>

		<div class="overview-list-item">
			<h2>Power-Ups</h2>
			<p>Building Power-Ups for your team? Check out the Power-Ups Platform documentation.</p>
			<button class="mod-primary" ui-sref="power-ups.intro">Build Power-Ups</button>
		</div>

	</div>

	<div class="overview-submit-your-app">
		<div class="overview-submit-your-app-content">
			<h2>Submit Your App</h2>
			<p>Have you built a great integration or Power-Up that you want to share with millions of Trello users? We're always excited to show-case integrations and Power-Ups built by developers.</p>
			<button class="mod-transparent mod-light-background" ui-sref="submit-your-app">Submit Your App</button>
		</div>
	</div>

	<div class="overview-community">
		<div class="overview-community-content">
			<h2>Community</h2>
			<p>Trello is built around a fantastic community of users and developers. See all the top community projects to help you build with Trello.</p>
			<button class="mod-transparent" ui-sref="community">See Community Projects</button>
		</div>
	</div>

	<div class="overview-newsletter">
		<div class="overview-newsletter-content">
			<p>Sign up for the <a href="http://trello.us9.list-manage.com/subscribe?u=5cb712992a906406c5eae28a7&id=1754ca72bf">Developer Newsletter</a> to stay up to date on all updates and announcements for developers.</p>
		</div>
	</div>

</div>
