<div class="app-content overview">

	<div style="display:flex;align-items:stretch">
		<div>
			<h2>Learn in 5 Minutes</h2>
			<p>New to the Trello API? Get started with our 5 minute introduction.</p>
			<button ui-sref="get-started">Get Started in 5 Minutes</button>
		</div>

		<div>
			<h2>API Docs</h2>
			<p>Trello API Pro? Find a route, argument, or permission in our API reference docs.</p>
			<button ui-sref="advanced-reference">Get Started in 5 Minutes</button>
		</div>
		<div>
			<h2>Power-Ups</h2>
			<p>Building Power-Ups for your team? Check out hte Power-Ups Platform documentation.</p>
			<button ui-sref="power-ups">Build Power-Ups</button>
		</div>
	</div>

	<div class="overview-community">
		<h2>Community</h2>
		<p>Trello is built around a fantastic community of users and developers. See all the top community projects to help you build with Trello.</p>
		<button ui-sref="community">See Community Projects</button>
	</div>
	<p>Sign up for the <a href="http://trello.us9.list-manage.com/subscribe?u=5cb712992a906406c5eae28a7&id=1754ca72bf">Developer Newsletter</a> to stay up to date on all updates and announcements for developers.</p>
</div>