<style>
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
</style>

<div class="sandbox">

  <div class="sandbox-header">
    <h2 class="sandbox-header-title">Sandbox</h2>
    <p class="sandbox-header-tag">Working code samples in the browser.</p>
  </div>

  <div class="sandbox-intro" ng-show="!connected">
    <p>
      To get started, enter your Trello API Key:
    </p>


    <input class="u-monospace" type="text" ng-model="key" id="applicationKey" placeholder="167e44d08df6c0cb0dbc7e2f274bd654" style="width:450px;">

    <p>
      If you don't have one, <a href="https://trello.com/app-key">grab your API key here</a>.
    </p>

    <p>
      Got it? Okay, press connect.
    </p>

    <button class="mod-primary mod-wide" ng-click="connect()">Connect</button>

  </div>

  <div class="sandbox-intro" ng-show="connected && !authenticated">
    <p>Great, we have now included a script tag that looks like this:</p>
    <p><code>&lt;script src="{{url}}"&gt;&lt;/script&gt;</code></p>
    <p>We now need to authenticate a user before we can make interesting API calls.</p>
    <button class="mod-primary mod-wide" ng-click="authenticate()">Authenticate</button>
    <p>{{authenticationErrorMessage}}</p>
  </div>

  <div class="sandbox-columns" ng-show="authenticated">

    <div class="sandbox-columns-menu">
      <h4 class="sandbox-columns-header">Examples</h4>

      <ul class="sandbox-columns-menu-list">
      	<li class="sandbox-columns-menu-list-item" ng-repeat="name in codeNames track by $index">
      		 <a class="sandbox-columns-menu-list-item-link" ng-click="selectSample($index)" ng-class="selectedCodeIndex == $index ? 'is-active' : ''">{{name}}</a>
      	</li>

      </ul>
    </div>

    <div class="sandbox-columns-code">

      <h4 class="sandbox-columns-header">Code</h4>

      <textarea class="sandbox-columns-code-input u-monospace" ng-model="codeContent[codes[selectedCodeIndex]]"></textarea>
      <button class="sandbox-columns-code-execute" ng-click="run(codeContent[codes[selectedCodeIndex]])">Execute</button>

    </div>

    <div class="sandbox-columns-results">
      <h4 class="sandbox-columns-header">Result</h4>
      <pre class="sandbox-columns-results-output" ng-bind-html="outputMessages"><code class="u-quiet">// Results</code></pre>
    </div>

  </div>

  <div id="scriptZone">
  </div>

</div>
