<div class="sandbox">

  <div class="sandbox-header">
    <h2 class="sandbox-header-title">Sandbox</h2>
    <p class="sandbox-header-tag">Working code samples in the browser.</p>
  </div>

  <div class="sandbox-intro" ng-show="!connected">
    <p>
      To get started, enter your Trello API Key:
    </p>

    <input class="u-monospace" type="text" ng-model="key" placeholder="167e44d08df6c0cb0dbc7e2f274bd654">

    <p>
      If you don't have one, <a href="https://trello.com/app-key">grab your API key here</a>.
    </p>

    <p>
      Got it? Okay, press connect.
    </p>

    <button class="mod-primary mod-wide" ng-click="connect()">Connect</button>

  </div>

  <div class="sandbox-intro" ng-show="connected && !authenticated">
    <p>Great, we have now included a script tag that looks like this:</p>
    <p><code>&lt;script src="{{url}}"&gt;&lt;/script&gt;</code></p>
    <p>We now need to authenticate a user before we can make interesting API calls.</p>
    <button class="mod-primary mod-wide" ng-click="authenticate()">Authenticate</button>
    <p>{{authenticationErrorMessage}}</p>
  </div>

  <div class="sandbox-columns" ng-show="authenticated">

    <div class="sandbox-columns-menu">
      <h4 class="sandbox-columns-header">Examples</h4>

      <ul class="sandbox-columns-menu-list">

        <li class="sandbox-columns-menu-list-item">
          <a class="sandbox-columns-menu-list-item-link">Get Boards</a>
        </li>

        <li class="sandbox-columns-menu-list-item">
          <a class="sandbox-columns-menu-list-item-link is-active">Get Lists</a>
        </li>

        <li class="sandbox-columns-menu-list-item">
          <a class="sandbox-columns-menu-list-item-link">Create Cards</a>
        </li>

        <li class="sandbox-columns-menu-list-item">
          <a class="sandbox-columns-menu-list-item-link">Create Webhook</a>
        </li>

        <li class="sandbox-columns-menu-list-item">
          <a class="sandbox-columns-menu-list-item-link">Get Webhooks</a>
        </li>

      </ul>
    </div>

    <div class="sandbox-columns-code">

      <h4 class="sandbox-columns-header">Code</h4>

      <textarea class="sandbox-columns-code-input u-monospace" ng-model="codeContent.getLists"></textarea>
      <button class="sandbox-columns-code-execute" ng-click="run(codeContent.getLists)">Execute</button>

      <div class="u-hidden">
        <md-tabs md-dynamic-height md-border-bottom md-selected="selectedCodeSample">
          <md-tab label="Get Boards">
            <p>Get my Boards...
              <button ng-click="run(codeContent.getBoards)">Execute</button>
            </p>
            <textarea ng-model="codeContent.getBoards"></textarea>

          </md-tab>
          <md-tab label="Get Lists">
            <p>Get lists from a Board...
              <button ng-click="run(codeContent.getLists)">Execute</button>
            </p>
            <textarea ng-model="codeContent.getLists"></textarea>

          </md-tab>
          <md-tab label="Create Card">
            <p>Create Cards...
              <button ng-click="run(codeContent.createCard)">Execute</button>
            </p>
            <textarea ng-model="codeContent.createCard"></textarea>

          </md-tab>
          <md-tab label="Create Webhook">
            <p>Create a webhook...
              <button ng-click="run(codeContent.createWebhook)">Execute</button>
            </p>
            <textarea ng-model="codeContent.createWebhook"></textarea>

          </md-tab>
          <md-tab label="Get Webhooks">
            <p>Get webhooks registered on a token...
              <button ng-click="run(codeContent.getWebhooks)">Execute</button>
            </p>
            <p style="font-size:12px;">(Your token is {{token}}) </p>
            <textarea ng-model="codeContent.getWebhooks"></textarea>

          </md-tab>

        </md-tabs>
      </div>

    </div>

    <div class="sandbox-columns-results">
      <h4 class="sandbox-columns-header">Result</h4>
      <pre class="sandbox-columns-results-output" ng-bind-html="outputMessages"><code class="u-quiet">// Results</code></pre>
    </div>

  </div>

  <div id="scriptZone">
  </div>

</div>
